@import "../vars"

.contacts__row-header
  padding: 6em 0 0 0

.contacts__header
  font-size: 2.5em
  text-align: center
  padding-bottom: 20px

.contacts__row-map
  height: 500px

.contacts__link
  display: block

.contacts__slider-item
  margin: 0 20px
  transform: scale(0.8)
  transition:  transform .5s
  &.slick-center
    transform: scale(1)

.contacts__img
  display: block
  max-width: 100%
  height: auto
  border-radius: 50%
  transition: opacity .5s
  &:hover
    opacity: 0.5

.contacts__row-slider
  padding: 30px 0
  .slick-dots
    bottom: 5px
  .custom-prev,
  .custom-next
    position: absolute
    z-index: 1
    top: 50%
    transform: translateY(-50%)
    color: $title-color
    font-size: 3em
    cursor: pointer
    transition: color .5s
  .custom-prev:hover,
  .custom-next:hover
    color: $hover
  .custom-prev
    left: -1em
  .custom-next
    right: -1em

.slick-dotted.slick-slider
  margin-bottom: 80px

.contacts__slider-name
  padding: 10px 0 0 0
  text-align: center
  font-style: italic

.contacts__slider-position
  text-align: center

.contacts__col-contact
  display: flex
  justify-content: center
  align-items: center

.contacts__button
  display: inline-block
  padding: 10px 20px
  text-transform: uppercase
  background-color: $header-color
  color: #fff
  border: 1px solid $header-color
  cursor: pointer
  transition: background-color .5s, color .5s
  &:hover
    background-color: #fff
    color: $title-color

.marker__name
  display: block
  text-align: center
  font-size: 15px
  font-weight: bold

.marker__address
  display: block
  text-align: center

.contacts__row-contact
  padding-bottom: 6em