@import "../vars"

.footer
  position: relative
  z-index: 998
  background-color: $header-color
  color: #fff

.footer__row
  padding: 30px 0

.footer__logo-link
  display: block

.footer__logo-img
  display: block
  max-width: 100%
  height: auto

.footer__menu
  display: flex
  flex-flow: row wrap
  align-items: center
  justify-content: center
  padding: 10px

.footer__logo
  @extend .footer__menu

.footer__logo-content
  @extend .footer__menu
  flex-flow: column nowrap

.footer__social
  margin: 0
  padding: 0
  text-align: center

.footer__social-item
  display: inline-block
  &:not(:last-child)
    margin-right: 10px
  
.footer__social-link
  color: #fff
  font-size: 2em
  transition: color .5s
  &:hover
    color: $text-color

.footer__list
  padding: 0
  margin: 0

.footer__item


.footer__link
  color: inherit
  font-size: 1em
  text-decoration: none
  text-transform: uppercase
  font-weight: bold
  transition: color .5s
  &:link,
  &:visited
    @extend .footer__link
  &:hover
    color: $hover

.footer__form
  @extend .footer__menu

.footer__form-form
  @extend .footer__menu
  flex-flow: row nowrap
  padding: 0

.footer__form-describe
  text-align: center

.form__email
  border: none
  padding: 12px
  width: 80%
  margin-right: -3px
  border-radius: 10px 0 0 10px

.form__button
  display: block
  border: none
  padding: 12px
  width: 20%
  border-radius: 0 10px 10px 0
  cursor: pointer
  transition: transform .5s, background-color .5s
  background-color: #eaeaea
  &:hover
    background-color: $text-color
  &:active
    transform: scale(1.1)

.footer__address
  @extend .footer__menu
  flex-flow: column nowrap

.footer__address-email,
.footer__address-phone
  color: inherit
  text-decoration: none
  &:link,
  &:visited
    @extend .footer__address-phone

.footer__address-text
  .fa
    margin-right: 10px
    &:not(.fa-envelope)
      vertical-align: middle