@import "../vars"

.nav
  position: absolute
  left: 0
  top: 0
  width: 100%
  color: #fff
  z-index: 999

.nav__wrap
  position: relative
  width: 100%
  height: 65px
  display: flex
  flex-flow: row wrap
  justify-content: space-between
  align-items: center
  border-bottom: 1px solid rgba(250,250,250,0.12)

.nav__menu
  height: 100%
  margin: .3em 0
  padding: 0

.nav__item
  height: 100%
  display: inline-flex
  justify-content: center
  flex-flow: column nowrap
  &:not(:last-child)
    margin-right: 1.5em
  &:hover > .nav__menu-nested
    visibility: visible


.nav__logo
  width: 30%
  margin: .3em 0

.nav__logo-img
  display: block
  height: auto
  max-width: 100%

.nav__link
  font-size: 0.8em
  text-transform: uppercase
  font-weight: bold
  transition: color .5s
  &:visited,
  &:link,
  &:active
    color: inherit
    text-decoration: none
  &:hover
    text-decoration: none
    color: $hover

.nav__lang
  color: #fff

.nav__menu-nested
  display: block
  padding: 0
  visibility: hidden
  background-color: #fff
  position: absolute
  list-style: none
  .nav__link
    display: block
    height: 100%
    padding: 13px 30px
    text-transform: none
    font-weight: 400
    transition: color .5s
    &:visited,
    &:link,
    &:active
      color: $text-color
      text-decoration: none
    &:hover
      text-decoration: none
      color: $hover

.nav__item-nested
  position: relative
  &:hover > .nav__menu-nested
    visibility: visible


.nav__lang
  height: 100%
  display: flex
  align-items: center
  position: relative
  color: inherit
  &:hover .nav__lang-list
    display: block


.nav__lang-list
  position: absolute
  left: 50%
  transform: translateX(-50%)
  padding: 0
  margin: 0
  display: none
  background-color: #fff
  list-style: none

.nav__lang-link
  display: block
  padding: 10px 20px
  text-transform: none
  font-weight: 400
  transition: color .5s
  &:visited,
  &:link,
  &:active
    color: $text-color
    text-decoration: none
  &:hover
    text-decoration: none
    color: $hover
  &_active
    color: $text-color
    cursor: default
    &:hover
      color: $text-color

.nav__menu-open
  display: none

.hamburger-box
  width: 35px
  height: 18px

.hamburger-inner
  background-color: $text-color
  width: 35px
  height: 2px
  &:after,
  &:before
    @extend .hamburger-inner

.nav__menu_mobile,
.nav__mobile-wrapper
  display: none

.toggle_rotate
  transform: rotate(90deg)
.fa-caret-right
  transition: transform .5s

.nav_fixed
  visibility: hidden
  position: fixed
  top: 0
  z-index: 999

.nav_collapse
  visibility: visible
  background-color: #fff
  color: $title-color