@import "../vars"

.services__row
  padding: 40px 0

.services__image
  font-size: 4em

.services__service
  padding: 2em
  text-align: center

.services__text
  text-align: center
  color: $text-color

.services__header
  display: inline-block
  font-size: 1.5em
  margin: 0.5em 0
  color: $header-color
  text-transform: uppercase
  font-weight: normal
  text-decoration: none
  transition: color .5s
  &:link,
  &:visited
    @extend .services__header
  &:hover
    color: $hover