@import "../vars"

.services__row
  padding: 40px 0

.services__image
  font-size: 4em

.services__service
  padding: 2em

.services__link
  display: block
  width: 100%
  height: 100%
  text-align: center
  text-decoration: none
  transition: opacity .5s
  &:hover
    opacity: 0.5

.services__image
  color: $header-color

.services__text
  text-align: center
  color: $text-color

.services__header
  font-size: 1.5em
  margin: 0.5em 0
  color: $header-color
  text-transform: uppercase
  font-weight: normal