@import "fonts"
@import "libs"
@import "vars"

*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	outline: none
	&:before, &:after
		-webkit-box-sizing: border-box
		-moz-box-sizing: border-box
		box-sizing: border-box

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

body
	height: 100%

body
	font-size: 15px
	min-width: 320px
	position: relative
	line-height: 1.65
	font-family: $default-font
	overflow-x: hidden

.img-responsive
	display: block
	max-width: 100%
	height: auto

.fa-caret-right
  margin-left: 10px

.video-responsive
	position: relative
	padding-bottom: 56.25%
	height: 0
	overflow: hidden

.video-responsive iframe,
.video-responsive object,
.video-responsive embed
	position: absolute
	top: 0
	left: 0
	width: 100%
	height: 100%

//Templates
@import "template/gallery-fluid"
@import "template/navbar"
@import "template/top"
@import "template/points"
@import "template/text"
@import "template/gallery"
@import "template/video"
@import "template/planner"
@import "template/jewelry"
@import "template/travel"
@import "template/testimonials"
@import "template/contacts"
@import "template/footer"
@import "template/popup"
@import "template/hero"
@import "template/top-bar"
@import "template/services"
@import "template/hero-fluid"
@import "template/contact"
@import "template/photographers"
@import "template/pictures"
@import "template/nested-slider"
@import "template/full-gallery"
@import "template/portfolio"
@import "template/counter"
@import "template/events"
@import "template/about"
@import "template/faq"
@import "template/travels"
@import "template/travel-slider"


@import "media"
